body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #26006a; /* azul oscuro */
  color: #ccc;
  text-align: center;
  margin: 20px;
}
h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 0;
}
#fecha {
  color: #ccc;
  margin-top: 0;
  font-size: 1.2em;
}
input[type="file"] {
  margin: 15px 0;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 320px;
  color: white;
  font-weight: bold;
}
th, td {
  padding: 10px;
  text-align: center;
}
th {
  color: #b6a7f4;
}
tbody tr td:nth-child(1) {
  color: #8b87e9; /* azul horario */
}
tbody tr td:nth-child(2) {
  color: #4db8ff; /* azul precio base */
}
tbody tr td:nth-child(3) {
  color: #4cb562; /* verde precio con impuestos */
}
button {
  background-color: #9a4df9;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 12px 24px;
  margin: 20px auto 0;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  width: 160px;
}
#firma {
  margin-top: 10px;
  color: #888;
  font-size: 0.85em;
}
